
 
 



<hr class="black"></hr>
 

    <!-- COMENTARIO --> 
    <blockquote class="fwhitesmoke">
      
      <h4 style="color: #1b809e !important; font-weight:bold;"> <%= comentario.name %>   </h4> 
      
      <p>  <%= comentario.comment %>  </p>
       

      <%= link_to 'Eliminar Comentario', [comentario.pelicula, comentario],
method: :delete,
data: { confirm: ' Estas seguro de borrar el comentario?' },class:'btn btn-xs btn-danger pull-right', style:'margin-bottom: 5px;' %>

</br>
 
      </blockquote>
         
 
