
<br/>

<%= form_for([@pelicula, @pelicula.comentarios.build]) do |f| %>
  <div class="field">
           <label class="control-label col-sm-2 col-lg-2">Nombre:</label>
              <div class="col-sm-10 col-lg-10">
                <%= f.text_field :name, placeholder: "Nombre", class:"form-control" %>
              </div>
        </div> <!-- end field -->
 <div class="field">
           <label class="control-label col-sm-2 col-lg-2">Comentario:</label>
              <div class="col-sm-10 col-lg-10">
               <%= f.text_area :comment, placeholder: "Comentario", class:"form-control" %>
              </div>
        </div> <!-- end field -->
 
  <div class="field">
            <%= f.submit "Guardar", class:"btn btn-xs btn-primary white pull-right", style:"margin-top: 5px;margin-bottom: 45px;" %></br>
  </div>  

<br></br></br> 

<% end %>
 