 <div class="estilosapp2">
 
<footer id="footer">

<div class="row">

<div class="col-lg-3 col-md-3 relleno size12">
  <a href="">Help</a> </br>
  <a href="">About Rotten Tomatoes</a> </br>
  <a href="">What's the Tomatoes</a> </br>
  <a href="">Jobs</a> </br>
  <a href="">Advertise</a> </br>
</div>  <!-- col-lg-3 -->


<div class="col-lg-3 col-md-3 relleno size12">
  <a href="">Critic Submission</a> </br>
  <a href="">API</a> </br>
  <a href="">Licensing</a> </br>
  
</div>  <!-- col-lg-3 -->

<div class="col-lg-6 col-md-6 relleno">
 <p class="white size18"><b>FOLLOW US</b></p>
 <a class="fa fa-2x fa-twitter margin10le" href="" title="Twitter"></a>
 <a class="fa fa-2x fa-facebook-square margin10le" href="" title="Twitter"></a>
 <a class="fa fa-2x fa-google-plus margin10le" href="" title="Twitter"></a>
 <a class="fa fa-2x fa-youtube-play margin10le" href="" title="Twitter"></a>
 <a class="fa fa-2x fa-tumblr margin10le" href="" title="Twitter"></a>
</div>  <!-- col-lg-6 -->


</div> <!-- row --> 


</footer>  

</div><!-- end estilosapp2 -->